body {
    background-image: url(images/cover.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    object-fit: contain;
    text-align: center;
    margin-top: 100px;
}

button {
    background: #646060;
    color: rgb(224, 200, 200);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 250px;
    margin-top: 70px;
}

button:hover {
    color: white;
    background-color: #0f0e0e;
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
}
h1{
    color: rgb(65, 63, 61);
}
